.DS_Store
*.pyc
/htdocs/_less
/htdocs/bundles
/.idea
*.iml
/web_writeable
/ignore
/nbproject
.htpasswd
*.DS_Store
Thumbs.db
/htdocs/.idea
/htdocs/.htaccess_maint_all
/htdocs/.htaccess_normal
*.sublime-project
*.sublime-workspace
*.swp
*.vimrc
/livechess2/modules/demo-server/overlays
*.orig
/htdocs/sandbox/*
/htdocs/images_users
/chess/config/apns-dev-key-production.pem
/chess/phpunit.xml
/chess/config/config_behat.yml
/chess/config/*_local.yml
/config/routing/*_local.yml
/chess/cache/*
/chess/logs/*
/chess/bootstrap.php.cache
/chess/config/prod_credentials.yml

/livechess2android/.idea/copyright
/livechess2android/.idea/libraries
/livechess2android/.idea/scopes
/livechess2android/.idea/.name
/livechess2android/.idea/compiler.xml
/livechess2android/.idea/encodings.xml
/livechess2android/.idea/misc.xml
/livechess2android/.idea/modules.xml
/livechess2android/.idea/vcs.xml
/livechess2android/.idea

__DATA_META_CONTROLS__
__DATAGEN_META_CONTROLS__
/vendor
/behat.yml

#vagrant
.vagrant
Vagrantfile.local
/developer/local.sh
/htdocs/vagrant

/system/absu/.idea
/system/absu/target
/system/absu/workdir

# API
/api/cache/*
/api/logs/*
/api/config/*_local.yml
/config/routing/api/*_local.yml

/package.box
/vagrantfile

# symlinks in bin folder after composer.phar install
/bin/behat
/bin/doctrine
/bin/doctrine.php
/bin/phpunit
/bin/selenium-server-standalone-2.25.0.jar
