.scriptor {
  margin:0;
  padding:0;
  font-family:"Arial", Helvetica, sans-serif;
  color:#333333;
}
#scriptor_invalidator {
  position:absolute;
  z-index:10000;
  background-color:#ffffff;
  top:0;
  left:0;
}
#scriptor_invalidator .msg {
  margin:auto;
  width:200px;
  height:30px;
  position:absolute;
  z-index:10001;
  background:url('images/ajax-loader.gif') no-repeat 5px center #0e4a62;
  padding:5px 5px 5px 30px;
  border:4px solid #ffffff;
  overflow:hidden;
  font-family:"Arial", Helvetica, sans-serif;
  font-size:12px;
  color:#ffffff;
}
div.jsComponent {
  display:block;
  visibility:visible;
  position:relative;
  overflow:hidden;
  color:#333333;
}
div.jsComponent.jsComponentHidden { visibility:hidden; }
div.jsComponent.jsComponentChild {
  position:absolute;
  top:0;
  left:0;
}
div.jsComponentInvalidator {
  position:absolute;
  z-index:1000;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:#ffffff;
  opacity:0.8;
  -moz-opacity:0.8;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=@op*100)";
  filter:alpha(opacity=80);
}
div.jsComponent.jsComponentFocused { border-color:#888888 !important; }
div.jsTargetComponent {
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
}
div.jsPanel {
  border:none;
  background:#ffffff;
}
div.jsPanel.jsComponentChild {
  background:#fafaff;
  border:1px solid #aaaaaa;
}
div.jsComponent div.jsSplitter {
  position:absolute;
  border:none;
  overflow:hidden;
  margin:0;
  padding:0;
  background:transparent;
}
div.jsComponent div.jsSplitter:hover { background:#bee4f4; }
div.jsComponent div.jsSplitterHorizontal {
  height:5px;
  cursor:n-resize;
}
div.jsComponent div.jsSplitterVertical {
  width:5px;
  cursor:e-resize;
}
div.jsComponent.jsContextMenu {
  margin:0;
  border:1px solid #888888;
  border-radius:4px;
  -webkit-border-radius:4px;
  -webkit-background-clip:padding-box;
  -moz-border-radius:4px;
  -webkit-box-shadow:1px 1px 5px #cccccc;
  -moz-box-shadow:1px 1px 5px #cccccc;
  box-shadow:1px 1px 5px #cccccc;
  background:#fbfbfb;
  padding:3px;
  position:absolute;
  top:0;
  left:0;
}
div.jsContextMenu ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.jsContextMenu ul li {
  height:20px;
  overflow:hidden;
  margin:0;
  padding:0;
}
div.jsContextMenu ul li a {
  display:block;
  height:17px;
  padding:3px 10px 0 20px;
  font-size:12px;
  color:#333333;
  text-decoration:none;
}
div.jsContextMenu ul li a:hover {
  text-decoration:none;
  color:#ffffff;
  background:#2165aa;
  border-radius:2px;
  -webkit-border-radius:2px;
  -webkit-background-clip:padding-box;
  -moz-border-radius:2px;
}
div.jsContextMenu ul li.contextMenuSep {
  height:2px;
  border-bottom:1px solid #888888;
  margin-bottom:1px;
  line-height:2px;
}
div.jsContextMenu ul li.OptionChecked a { background:#fbfbfb url(images/check.png) no-repeat 2px center; }
div.jsContextMenu ul li.OptionChecked a:hover { background:#2165aa url(images/check.png) no-repeat 2px center; }
div.jsTabContainer div.jsTabList { height:24px; }
div.jsTabContainer div.jsTabListInner {
  border-bottom:1px solid #888888;
  height:23px;
  overflow:visible;
}
div.jsTabContainer div.jsPageContainer {
  border:1px solid #888888;
  border-top:none;
  padding:5px;
}
div.jsTabLabel {
  position:relative;
  float:left;
  bottom:0;
  top:2px;
  background:#ffffff url(images/tab-unsel-back.png) top repeat-x;
  padding:2px 6px;
  height:16px;
  color:#666666;
  cursor:pointer;
  font-size:12px;
  margin-right:1px;
  border:1px solid #888888;
  border-radius:4px 4px 0 0;
  -webkit-border-radius:4px 4px 0 0;
  -moz-border-radius:4px 4px 0 0;
  border-bottom:none;
  font-weight:bold;
}
div.jsTabLabel.jsTabSelected {
  background:#ffffff url(images/tab-sel-back.png) top repeat-x;
  bottom:-1px;
  height:17px;
  padding-top:4px;
  top:0;
  color:#333333;
}
div.jsTabLabel.jsTabClosable { padding-right:20px; }
div.jsTabPage {
  border:none !important;
  background:transparent !important;
}
span.jsTabCloseBtn {
  display:block;
  position:absolute;
  top:4px;
  right:4px;
  width:12px;
  height:12px;
  background:transparent url(images/close-btn.png) 0 0 no-repeat;
}
span.jsTabCloseBtn:hover { background:transparent url(images/close-btn.png) 0 -12px no-repeat; }
div.jsTabSelected span.jsTabCloseBtn { top:6px; }
span.jsTabCloseHidden { display:none !important; }
span.jsTabListDropdown {
  position:absolute;
  top:0;
  right:0;
  margin-right:2px;
  width:12px;
  height:23px;
  background:#ffffff url(images/drop-down.png) -2px 5px no-repeat;
  cursor:pointer;
}
span.jsTabListDropdown:hover { background-color:#bee4f4; }
span.jsTabListDropdownHidden { visibility:hidden; }
.dataViewMain {
  overflow:hidden;
  background:#ffffff;
  border:1px solid #888888;
}
.dataViewToolbar {
  overflow:hidden;
  position:relative;
  width:100%;
  height:20px;
}
.dataViewToolbar ul {
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  width:100%;
}
.dataViewToolbar ul li {
  float:left;
  margin:0;
  height:16px;
  padding:2px;
  font-size:12px;
}
.dataViewToolbar ul li.dataViewCheckBoxHeader { width:16px; }
.dataViewToolbar ul li.dataViewCheckBoxHeader input { margin:2px; }
.dataViewToolbar ul li.dataViewSep, .dataViewToolbar ul li.dataViewFieldSep {
  width:2px;
  background:transparent url(images/table-header-sep.png) no-repeat top center;
}
.dataViewToolbar ul li.dataViewFieldSep { cursor:col-resize; }
.dataViewPaginationHeader {
  background:transparent;
  border-bottom:1px solid #b0b0b0;
  height:24px;
}
.dataViewPaginationHeader ul { min-width:275px; }
.dataViewPaginationHeader ul li {
  padding:0 6px;
  margin:4px 0;
  border-left:1px solid #b0b0b0;
}
.dataViewPaginationHeader ul li.first { border:none; }
.dataViewPaginationHeader ul li a {
  float:left;
  margin:0;
  width:16px;
  height:16px;
}
.dataViewPaginationHeader ul li a.dataViewPrevBtn {
  background:url(images/prev.png) no-repeat;
  margin-right:6px;
}
.dataViewPaginationHeader ul li a.dataViewNextBtn { background:url(images/next.png) no-repeat; }
.dataViewPaginationHeader ul li a:hover { background-color:#bee4f4; }
.dataViewPaginationHeader ul li label {
  float:left;
  margin:1px 5px 0 0;
}
.dataViewPaginationHeader ul li input {
  float:left;
  margin:0 5px 0 0;
  font-size:10px;
  padding:1px;
}
.dataViewPaginationHeader ul li input.dataViewPaginationInput {
  width:25px;
  border:1px solid #888888;
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-background-clip:padding-box;
  -moz-border-radius:3px;
}
.dataViewPaginationHeader ul li input.dataViewPageButton {
  padding:0;
  line-height:10px;
  border:1px solid #888888;
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-background-clip:padding-box;
  -moz-border-radius:3px;
}
.dataViewHeader {
  background:#c9c9c9 url(images/table-header-back.jpg) repeat-x;
  border-bottom:1px solid #b0b0b0;
}
.dataViewHeader ul { padding:0 0 0 3px; }
.dataViewHeader ul li { overflow:hidden; }
.dataViewHeader ul li a {
  color:#333333;
  text-decoration:none;
  display:block;
  padding:0 18px 0 0;
}
.dataViewHeader ul li a.dataViewSortAsc {
  font-weight:bold;
  background:url(images/drop-up.png) no-repeat center right;
}
.dataViewHeader ul li a.dataViewSortDesc {
  font-weight:bold;
  background:url(images/drop-down.png) no-repeat center right;
}
.dataViewHeader ul li.dataViewColumn:hover { background:#c9c9c9; }
.dataViewHeader ul li.dataViewColumnHidden { display:none; }
.dataViewHeader.dataViewMultiselect ul { padding:0; }
.dataViewFooter {
  background:#c9c9c9 url(images/table-footer-back.jpg) repeat-x;
  border-top:1px solid #b0b0b0;
}
.dataViewOuterBody {
  overflow:auto;
  width:100%;
  background:transparent url(images/table-rows-back.png) repeat-x;
}
.dataViewOuterBody.dataViewLoading { background:transparent url(images/ajax-loader.gif) no-repeat center; }
.dataViewOuterBody .dataViewMessageDiv {
  font-size:12px;
  padding:10px;
  text-align:center;
}
.dataViewBody { overflow:hidden; }
.dataViewBody ul {
  list-style-type:none;
  margin:0;
  padding:0;
  height:20px;
  overflow:hidden;
  border-bottom:1px dotted #aaaaaa;
}
.dataViewBody ul:hover, .dataViewBody ul.dataViewRowOdd:hover { background:#fffce8; }
.dataViewBody ul.dataViewRowSelected, .dataViewBody ul.dataViewRowOdd.dataViewRowSelected {
  background:#2165aa;
  color:#ffffff;
}
.dataViewBody ul.dataViewRowSelected *, .dataViewBody ul.dataViewRowOdd.dataViewRowSelected * { color:#ffffff; }
.dataViewBody ul.dataViewRowOdd { background:#f2f2f2; }
.dataViewBody ul li {
  overflow:hidden;
  float:left;
  padding:2px 7px 2px 2px;
  font-size:12px;
  cursor:default;
  height:16px;
  border-right:1px dotted #aaaaaa;
}
.dataViewBody ul li.dataViewCellHidden { display:none; }
.dataViewBody.dataViewMultiselect ul li { padding:2px 6px 2px 3px; }
.dataViewBody.dataViewMultiselect ul li.dataViewMultiselectCell {
  padding-left:2px;
  padding-right:1px;
  width:20px;
  border-right:none;
}
.dataViewBody.dataViewMultiselect ul li.dataViewMultiselectCell input { margin:2px; }
.dataViewHeaderMenu {
  position:absolute;
  display:block;
  width:20px;
  height:20px;
  top:0px;
  right:2px;
  background:transparent url(images/table-header-sep.png) no-repeat top left;
}
.dataViewHeaderMenu a {
  display:block;
  width:16px;
  height:16px;
  margin:3px 0 0 4px;
  background:transparent url(images/table-options.png) no-repeat center center;
}
.dataViewHeaderMenu a:hover { background-color:#bee4f4; }
.treeView {
  border:1px solid #888888;
  background:#ffffff;
  overflow:auto !important;
}
.treeView div.treeViewMessageDiv {
  padding:10px;
  font-size:12px;
  text-align:center;
}
.treeView ul {
  font-size:12px;
  padding:3px;
  list-style-type:none;
  overflow:hidden;
  clear:left;
  margin:0;
}
.treeView ul.treeViewContainer {
  overflow:auto;
  padding:0;
  margin:5px;
}
.treeView ul ul {
  margin-left:15px;
  padding:0;
  display:none;
}
.treeView ul li {
  margin:0;
  clear:left;
  overflow:hidden;
}
.treeView ul li a {
  font-size:12px;
  color:#333333;
  text-decoration:none;
  display:block;
  margin-left:15px;
  padding:2px 4px;
  border:1px solid #ffffff;
  background:#ffffff;
}
.treeView ul li a.treeViewSingleNode { margin-left:15px; }
.treeView ul li a.treeViewExpandableNode {
  width:15px;
  height:18px;
  background:URL('images/plus.gif') no-repeat 2px 5px;
  padding:0;
  margin:0;
  float:left;
  border:none;
}
.treeView ul li a.treeViewCollapsableNode {
  width:15px;
  height:18px;
  background:URL('images/minus.gif') no-repeat 2px 5px;
  padding:0;
  margin:0;
  float:left;
  border:none;
}
.treeView ul li a.treeViewSelectedNode {
  background:#e6f0f6;
  border:1px solid #036188;
  border-radius:4px;
  -webkit-border-radius:4px;
  -webkit-background-clip:padding-box;
  -moz-border-radius:4px;
}
.treeView.treeViewLoading { background:#ffffff URL('images/ajax-loader.gif') no-repeat center center; }
.jsPageContainer ul.treeViewContainer { margin:0; }
.calendarView {
  background:#ffffff;
  color:#333333;
  overflow:auto;
}
.calendarView .calendarViewWrapper { border:1px solid #888888; }
.calendarView .calendarViewHeader {
  height:20px;
  overflow:hidden;
  border-bottom:1px solid #888888;
  background:#e9e9e9;
}
.calendarView .calendarViewHeader ul {
  list-style-type:none;
  height:20px;
  overflow:hidden;
  margin:0;
  padding:0;
}
.calendarView .calendarViewHeader ul li {
  width:100%;
  margin:0 20px 0 40px;
  height:20px;
}
.calendarView .calendarViewHeader ul li.calendarViewLeft {
  float:left;
  width:20px;
  margin:0;
}
.calendarView .calendarViewHeader ul li.calendarViewRight {
  float:right;
  width:20px;
  margin:0;
}
.calendarView .calendarViewHeader ul li a {
  display:inline-block;
  width:20px;
  height:20px;
}
.calendarView .calendarViewHeader ul li a.calendarViewPrev { background:URL('images/prev.png') no-repeat 2px 2px; }
.calendarView .calendarViewHeader ul li a.calendarAdvanced { background:URL('images/add.png') no-repeat 2px 2px; }
.calendarView .calendarViewHeader ul li a.calendarViewNext { background:URL('images/next.png') no-repeat 2px 2px; }
.calendarView .calendarViewHeader ul li a:hover { background-color:#bee4f4; }
.calendarView .calendarViewHeader ul li p.calendarViewMonth {
  width:100%;
  padding:2px 0 0 0;
  margin:0;
  height:18px;
  font-size:12px;
  font-weight:bold;
  text-align:center;
}
.calendarView table.calendarViewBody {
  width:100%;
  border-collapse:collapse;
}
.calendarView table.calendarViewBody th {
  padding:2px;
  font-size:12px;
  font-weight:bold;
  background:#e6f0f6;
  border-bottom:1px solid #888888;
  text-align:center;
}
.calendarView table.calendarViewBody td {
  height:29px;
  width:14%;
  border-left:1px solid #888888;
  border-bottom:1px solid #888888;
}
.calendarView table.calendarViewBody td a {
  display:block;
  height:25px;
  padding:2px;
  font-size:11px;
  color:#177fb4;
  text-decoration:none;
}
.calendarView table.calendarViewBody td a:hover {
  background:#bee4f4;
  color:#3a96c5;
  text-decoration:underline;
}
.calendarView table.calendarViewBody td a.calendarDisabled {
  color:#aaaaaa;
  cursor:default;
}
.calendarView table.calendarViewBody td a.calendarDisabled:hover {
  color:#aaaaaa;
  background:none;
  text-decoration:none;
  cursor:default;
}
.calendarView table.calendarViewBody td a.calendarToday {
  color:#cc0000 !important;
  font-weight:bold;
}
.calendarView table.calendarViewBody td a.calendarMarked { background:#ccaaaa; }
.calendarView table.calendarViewBody td a.calendarSelected {
  background:#3a96c5;
  color:#ffffff;
}
.calendarView .calendarViewFooter {
  height:20px;
  overflow:hidden;
  background:#e9e9e9;
}
.calendarView .calendarViewFooter p {
  margin:0;
  padding:2px 0 0 0;
  text-align:center;
  font-size:12px;
  font-weight:bold;
  height:18px;
}
.calendarView .calendarViewFooter p a.calendarGoHome {
  width:20px;
  height:20px;
  float:left;
  background:URL('images/home.png') no-repeat 2px 2px;
  margin:-2px 0 0 2px !important;
}
.calendarView .calendarViewFooter p a.calendarGoHome:hover { background-color:#bee4f4; }
.calendarView div.calendarViewAdvanced { overflow:hidden; }
.calendarView div.calendarViewAdvanced p {
  font-size:12px;
  overflow:hidden;
  margin:4px !important;
  clear:left;
}
.calendarView div.calendarViewAdvanced p label, .calendarView div.calendarViewAdvanced p input, .calendarView div.calendarViewAdvanced p select {
  color:#333333;
  padding:1px;
  font-size:12px;
}
.calendarView div.calendarViewAdvanced p label {
  float:left;
  padding:2px 0 0 0 !important;
  width:50px;
}
.calendarView div.calendarViewAdvanced p input {
  border:1px solid #888888;
  width:50px;
  padding:1px;
}
.calendarView div.calendarViewAdvanced p select {
  border:1px solid #888888;
  padding:1px;
}
.calendarView div.calendarViewAdvanced p .calendarBtn {
  display:inline-block;
  width:auto;
  padding:2px 6px;
  font-size:12px;
  margin:5px;
  color:#333333;
  background:#dddddd;
  border:1px solid ;
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-background-clip:padding-box;
  -moz-border-radius:3px;
}
.calendarView div.calendarViewAdvanced p .calendarBtn:hover { background:#bee4f4; }
.galleryViewWrapper {
  background:#ffffff;
  color:#333333;
  border:1px solid #888888;
}
div.galleryView {
  background:#ffffff;
  color:#333333;
  overflow:auto;
}
div.galleryView div {
  float:left;
  margin:5px;
}
div.galleryView div img {
  cursor:pointer;
  display:block;
  border:2px solid #ffffff;
}
div.galleryView div p {
  font-size:12px;
  text-align:center;
}
div.galleryView div.gvSelectedImage img { border:2px solid #333333; }
div.galleryView div.gvSelectedImage p { font-weight:bold; }
.galleryViewLoading { background:#ffffff URL('images/ajax-loader.gif') no-repeat center center; }
.galleryViewLoading div, .galleryViewMessage div { display:none; }
.galleryViewMessage p {
  margin:10px;
  text-align:center;
  font-size:11px;
}
.jsToolbar {
  border:1px solid #888888;
  border-radius:4px;
  -webkit-border-radius:4px;
  -webkit-background-clip:padding-box;
  -moz-border-radius:4px;
  background:#bebebe url(images/table-header-back.jpg) repeat-x;
  overflow:hidden;
}
.jsToolbar span {
  color:#333333;
  font-size:12px;
  float:left;
  padding:4px 6px 4px 4px;
  background:url(images/table-header-sep.png) no-repeat center right;
}
.jsToolbar span.jsToolbarLast { background-image:none; }
.jsToolbar span a {
  font-size:12px;
  color:#333333;
  text-decoration:none;
  display:inline-block;
  vertical-align:middle;
}
.jsToolbar span a:hover { text-decoration:underline; }
.jsToolbar span.jsToolbarDropdown {
  position:absolute;
  top:0;
  right:0;
  margin-right:2px;
  padding:0;
  width:12px;
  height:23px;
  background:transparent url(images/drop-down.png) -2px 5px no-repeat;
  cursor:pointer;
}
.jsToolbar span.jsToolbarDropdown:hover { background-color:#bee4f4; }
.jsToolbar span.jsToolbarDropdown.jsToolbarDropdownHidden { visibility:hidden; }
.jsToolbarExtraPanel { z-index:500; }
.jsToolbarExtraPanel span {
  display:block;
  float:left;
  clear:left;
  background:transparent;
  padding:2px;
  font-size:12px;
}
.jsToolbarExtraPanel span a {
  font-size:12px;
  color:#333333;
  text-decoration:none;
  display:inline-block;
  vertical-align:middle;
}
.jsToolbarExtraPanel span a:hover { text-decoration:underline; }
.jsToolbarExtraPanel.jsToolbarExtraPanelHidden { visibility:hidden; }
