/* CSS Document */

.calendarView { border: 1px solid #036188; width: 245px; background: #FFFFFF; color: #333333; }
.calendarView * { margin: 0 !important; padding: 0 !important; }

.calendarView .calendarViewHeader { width: 245px; height: 20px; overflow: hidden; border-bottom: 1px solid #036188; background: #E9E9E9; }
.calendarView .calendarViewHeader ul { list-style-type: none; width: 245px; height: 20px; overflow: hidden; }
.calendarView .calendarViewHeader ul li { float: left; }
.calendarView .calendarViewHeader ul li a.calendarViewPrev { float: left; width: 20px; height: 20px; background: URL('images/prev.jpg') no-repeat 2px 2px; }
.calendarView .calendarViewHeader ul li a.calendarAdvanced {float: left; width: 20px; height: 20px; background: URL('images/advanced.jpg') no-repeat 2px 2px;}
.calendarView .calendarViewHeader ul li p.calendarViewMonth { width: 185px; padding: 2px 0 0 0 !important; font-family: "Arial", Helvetica, sans-serif; font-size: 12px; font-weight: bold; text-align: center; }
.calendarView .calendarViewHeader ul li a.calendarViewNext { float: left; width: 20px; height: 20px; background: URL('images/next.jpg') no-repeat 2px 2px; }

.calendarView table.calendarViewBody { width: 245px; border-collapse: collapse; }
.calendarView table.calendarViewBody th { padding: 2px !important; font-family: "Arial", Helvetica, sans-serif; font-size: 12px; font-weight: bold; background: #E6F0F6; border-bottom: 1px solid #036188; border-left: 1px solid #036188; width: 30px; text-align: center;}
.calendarView table.calendarViewBody td { width: 34px; height: 29px; border-left: 1px solid #036188; border-bottom: 1px solid #036188; }
.calendarView table.calendarViewBody td a { display: block; width: 30px; height: 25px; padding: 2px !important; font-family: "Arial", Helvetica, sans-serif; font-size: 11px; color: #177fb4; text-decoration: none; }
.calendarView table.calendarViewBody td a:hover { background: #E6F0F6; color: #3a96c5; text-decoration: underline; }

.calendarView table.calendarViewBody td a.calendarDisabled { color: #AAAAAA; cursor: default; }
.calendarView table.calendarViewBody td a.calendarDisabled:hover { color: #AAAAAA; background: none; text-decoration: none; cursor: default; }

.calendarView table.calendarViewBody td a.calendarToday { color: #CC0000 !important; font-weight: bold; }
.calendarView table.calendarViewBody td a.calendarMarked { background: #CCAAAA; }

.calendarView table.calendarViewBody td a.calendarSelected { background: #3A96C5; color: #FFFFFF; }

.calendarView .calendarViewFooter { width: 245px; height: 20px; overflow: hidden; background: #E9E9E9; }
.calendarView .calendarViewFooter p a.calendarGoHome { width: 20px; height: 20px; float: left; background: URL('images/home.jpg') no-repeat 2px 2px; margin: -2px 0 0 2px !important; display: inline; }
.calendarView .calendarViewFooter p { padding: 2px 0 0 0 !important; text-align: center; font-family: "Arial", Helvetica, sans-serif; font-size: 12px; color: #434343; font-weight: bold; }

.calendarView table.calendarViewBody td.calendarTDWide { width: 245px; }
.calendarView table.calendarViewBody td.calendarTDWide p { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; overflow: hidden; margin: 4px !important; clear: left; }
.calendarView table.calendarViewBody td.calendarTDWide p label { float: left; padding: 2px 0 0 0 !important; width: 40px; }
.calendarView table.calendarViewBody td.calendarTDWide p input { border: 1px solid #036188; width: 50px; }
.calendarView table.calendarViewBody td.calendarTDWide p select { border: 1px solid #036188; }
.calendarView table.calendarViewBody td.calendarTDWide p a { width: 56px; height: 18px; padding: 2px 0 0 24px !important; font-size: 12px; float: left; display: inline; margin: 5px 0 0 5px !important; color: #0e5970; text-align: left; }
.calendarView table.calendarViewBody td.calendarTDWide p a.calendarAccept { background: URL('images/btn-accept.jpg') no-repeat; }
.calendarView table.calendarViewBody td.calendarTDWide p a.calendarCancel { background: URL('images/btn-cancel.jpg') no-repeat; }
.calendarView table.calendarViewBody td.calendarTDWide p a:hover { color: #333333; }