/* CSS Document */

div.jsComponent.jsContextMenu { margin: 0; border: 1px solid #9e9e9e; border-radius: 4px; box-shadow: 2px 2px 2px #CCC;
	background: #ebebeb; padding: 3px; position: absolute; }

div.jsContextMenu ul { list-style-type: none; }
div.jsContextMenu ul li { height: 20px; overflow: hidden; }
div.jsContextMenu ul li a { display: inline-block; height: 17px; padding: 3px 0 0 16px;
	font-size: 12px; color: #343434; text-decoration: none; }

div.jsContextMenu ul li a:hover { text-decoration: none; color: #FFFFFF; background: #114478; border-radius: 2px; }
div.jsContextMenu ul li.contextMenuSep { height: 2px; border-bottom: 1px solid #9e9e9e; margin-bottom: 1px; line-height: 2px; }

div.jsContextMenu ul li.OptionChecked a { font-weight: bold; background: #ebebeb URL('images/check.jpg') no-repeat 2px  center; }
div.jsContextMenu ul li.OptionChecked a:hover { font-weight: bold; background: #114478 URL('images/check-sel.jpg') no-repeat 2px center; }
