
.dataViewMain {
	overflow: hidden;
	background: @panelBgColor;
	border: 1px solid @panelBorderColorFocus;
}

.dataViewToolbar {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 20px;
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		li {
			float: left;
			margin: 0;
			height: 16px;
			padding: 2px;
			font-size: 12px;
			
			&.dataViewCheckBoxHeader {
				width: 16px;
			}
			
			&.dataViewSep {
				width: 2px;
				background: transparent url(images/table-header-sep.png) no-repeat top left;
			}
		}
	}
}

.dataViewPaginationHeader {
	background: transparent;
	border-bottom: 1px solid #b0b0b0;
}

.dataViewHeader,  {
	background: #c9c9c9 url(images/table-header-back.jpg) repeat-x;
	border-bottom: 1px solid #b0b0b0;
}

.dataViewFooter {
	background: #c9c9c9 url(images/table-footer-back.jpg) repeat-x;
	border-top: 1px solid #b0b0b0;
}

.dataViewOuterBody {
	overflow: auto;
	width: 100%;
	background: transparent url(images/table-rows-back.png) repeat-x;
}

.dataViewBody {
	overflow: hidden;
}

.dataViewHeaderMenu {
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	top: 0px;
	right: 2px;
	background: transparent url(images/table-header-sep.png) no-repeat top left;
	a {
		display: block;
		width: 16px;
		height: 16px;
		margin: 3px 0 0 4px;
		background: transparent url(images/table-options.png) no-repeat center center;
		&:hover {
			background-color: @componentHoverColor;
		}
	}
}

