
.jsComponent.jsDialog {
	background: @panelBgColor;
	border: 1px solid @panelBorderColor;
	position: absolute;
	.borderRadius();
	.boxShadow(1px; 1px; 5px; #CCC);
	
	&.jsComponentFocused {
		border: 1px solid @panelBorderColorFocus;
	}
}

